.titulo {
  background-color: black;
  color: aqua;
  text-align: center;
  font-size: 20px;
  font-family: "East Sea Dokdo", cursive;
  font-family: "Seymour One", sans-serif;
  padding: 1%;
  text-transform: capitalize;
}

.pie {
  background-color: gray;
  text-align: center;
}

.texto {
  background-color: gray;
}

.imagen {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 4rem;
  background-color: black;
  padding: 0%;
  border: solid 2px black;
  flex-direction: row-reverse;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: aqua;
}

.navegador {
  color: white;
}

.cabecera_tabla {
  font-size: large;
  vertical-align: center;
  text-align: center;
}

.section {
  background-color: yellow;
  padding: 50px 50px;
  border: 15px solid chocolate;
  margin: 50px;
}

.cuadro__principal {
  background-color: black;
}

.ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: double;
}

nav ul li a:hover {
  opacity: 10;
  color: red;
}

menu {
  background-color: black;
  color: aqua;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: grey;
  color: white;
}

h4 {
  background-color: black;
  color: aqua;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 10px;
  }
  img {
    opacity: 0;
  }
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 10px;
  }
  img {
    opacity: 0;
  }
}
.find {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: gray;
}

body {
  background-color: rgb(198, 197, 185);
}

legend {
  color: white;
}

.especificaciones {
  background-color: rgb(131, 13, 13);
  text-align: center;
  border: 4.5rem;
  height: 100px;
  width: 100px;
}

.border__li {
  border: 4px solid white;
}

.articulo {
  color: black;
  margin: 0%;
  text-align: left;
  font-size: 3rem;
  background-color: rgb(98, 146, 158);
  padding: 0%;
  font-family: "East Sea Dokdo", cursive;
  font-family: "Nova Mono", monospace;
  font-family: "Seymour One", sans-serif;
}

.articulo_especificaciones {
  color: white;
  background-color: black;
  font-size: large;
  text-align: center;
  text-transform: uppercase;
  font-family: "East Sea Dokdo", cursive;
  font-family: "Nova Mono", monospace;
  font-family: "Seymour One", sans-serif;
}

.articulo__nosotros {
  font-size: 50px;
  text-align: center;
  font-family: "East Sea Dokdo", cursive;
  font-family: "Nova Mono", monospace;
  font-family: "Seymour One", sans-serif;
  background-color: black;
  color: gray;
  border: 15% 20%;
  border-color: red;
}

.ayuda {
  background-color: rgb(198, 197, 185);
  color: black;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-family: "East Sea Dokdo", cursive;
  font-family: "Nova Mono", monospace;
  font-family: "Seymour One", sans-serif;
}

article {
  background-color: black;
  color: aqua;
}

.parrafo__funciones {
  font-size: 30px;
  text-align: center;
  background-color: black;
  color: white;
  font-family: "East Sea Dokdo", cursive;
  font-family: "Nova Mono", monospace;
  font-family: "Seymour One", sans-serif;
}

.iframe__funciones {
  text-align: center;
  background-color: gray;
}

/*# sourceMappingURL=style.css.map */
