.articulo {
  color: black;
  margin: 0%;
  text-align: left;
  font-size: 3rem;
  background-color: rgb(98, 146, 158);
  padding: 0%;
  font-family: "East Sea Dokdo", cursive;
  font-family: "Nova Mono", monospace;
  font-family: "Seymour One", sans-serif;
}
.articulo_especificaciones {
  color: white;
  background-color: black;
  font-size: large;
  text-align: center;
  text-transform: uppercase;
  font-family: "East Sea Dokdo", cursive;
  font-family: "Nova Mono", monospace;
  font-family: "Seymour One", sans-serif;
}

.articulo__nosotros {
  font-size: 50px;
  text-align: center;
  font-family: "East Sea Dokdo", cursive;
  font-family: "Nova Mono", monospace;
  font-family: "Seymour One", sans-serif;
  background-color: black;
  color: gray;
  border: 15% 20%;
  border-color: red;
}

.ayuda {
  background-color: rgb(198, 197, 185);
  color: black;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-family: "East Sea Dokdo", cursive;
  font-family: "Nova Mono", monospace;
  font-family: "Seymour One", sans-serif;
}
article {
  background-color: $color-fondo;
  color: $color-texto;
}
