.parrafo__funciones {
  font-size: 30px;
  text-align: center;
  background-color: black;
  color: white;
  font-family: "East Sea Dokdo", cursive;
  font-family: "Nova Mono", monospace;
  font-family: "Seymour One", sans-serif;
}
.iframe__funciones {
  text-align: center;
  background-color: gray;
  position: relative;
}
